<div class="box">
    <div style="font-size: 16px;">Trang chủ / Thịt sấy khô / Khô gà lá chanh xé cay</div>
    <div class="box-product">
        <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                <img class="img-small" src="../../assets/khoga/banner.jpg" alt="Không tải được hình ảnh">
                <img class="img-small" src="../../assets/khoga/bottom.jpg" alt="Không tải được hình ảnh">
            </div>
            <div><img class="img-large" src="../../assets/khoga/banner.jpg" alt="Không thể tải được hình ảnh"></div>
        </div>
        <div style="width:550px; height: 535px">
            <p class="text-heading">KHÔ GÀ LÁ CHANH XÉ CAY 280G</p>
            <hr>
            <p class="price">61.000 đồng</p>
            <hr>
            <div  class="text-size" style="margin-bottom: 20px; color: var(--accent); font-weight: bold;">
                <label for="quality">Số lượng:</label>
            </div>
            <div class="form-button">
                <input style="width:300px;" type="button" value="THÊM VÀO GIỎ HÀNG">
                <input style="width:209px;" type="button" value="MUA NGAY">
            </div>
            <div class="text-size" >
                <i class="bi bi-truck"></i> <span> Miễn phí vận chuyển</span>
                <ul>
                    <li>Giao hàng miễn phí với mức giá cố định từ 300K trở lên</li>
                </ul>
                <i class="bi bi-cash-coin"></i> <span> Chính sách đổi trả</span>
                <ul>
                    <li>Chỉ chấp nhận đổi trả do sai sót bên Dumbum hay bên nhà vận chuyển</li>
                    <li>Các sản phẩm được đổi trả trong vòng 7 ngày kể từ ngày nhận hàng</li>
                    <li>Các sản phẩm đổi trả còn đầy đủ tem mác, còn nguyên vẹn và chưa có dấu hiệu sử dụng</li>
                    <li>Phí vận chuyển trở lại được thanh toán bởi người mua</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="width: 640px;" class="box-detail">
        <div style="padding: 20px;">
            <p class="text-heading">MÔ TẢ CHI TIẾT SẢN PHẨM</p>
            <div class="text-size" >
                <ul>
                    <li>Thành phần: thịt gà tươi, muối, đường, tỏi, ớt, dầu ăn, gia vị,...</li>
                    <li>Hướng dẫn sử dụng: dùng ăn trực tiếp</li>
                    <li>Hướng dẫn bảo quản: nhiệt độ thường</li>
                    <li>Trọng lượng tịnh: 280g (tính cả bao bì)</li>
                    <li>Hạn sử dụng: 06 tháng kể từ ngày sản xuất</li>
                    <li>Xuất xứ: Việt Nam</li>
                </ul>
            </div>
            <div style="text-align: center;"><img class="img-detail" src="../../assets/khoga/real.jpg" alt="Không thể tải được hình ảnh"></div>
            <div style="text-align: center;"><img class="img-detail" src="../../assets/khoga/top.jpg" alt="Không thể tải được hình ảnh"></div>
           <p class="text-size">Cảm ơn các bạn, chúc các bạn ngon miệng với Khô gà lá chanh Dumbum <br>À đừng quên là chúng mình còn Khô heo, Khô mực, Khô mix 3 vị nhé !!</p>
        </div>
    </div>
    <div class="box-detail">
        <div style="padding: 20px;">
            <p class="text-heading">ĐÁNH GIÁ VÀ NHẬN XÉT SẢN PHẨM</p>
            <div class="box-review">
                <div class="review">
                    <p class="text-size" style="font-size: 24px;">Đánh giá trung bình</p>
                    <p style="font-weight: bold; font-size: 72px; color: var(--third); line-height: 1;">5/5</p>
                    <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="text-size">1 đánh giá & 0 nhận xét</p>
                </div>
                <div>
                    <p>5</p><i class="bi bi-star-fill"></i><progress max="100" value="100"></progress>
                </div>
                <div class="form-button" style="display: flex; flex-direction: column;" >
                    <p style="width:300px; text-align: center;" class="text-size" for="">Bạn đã từng dùng sản phẩm này?</p>
                    <input style="width:300px;" type="button" value="Gửi đánh giá của bạn">
                </div>

            </div>
            

        </div>


    </div>


</div>