<div class="d-flex justify-content-between py-5">
    <div style="padding-right: 40px; flex-basis: 100%">
        <p class="fs-3 fw-bold text-accent">CHÍNH SÁCH ĐỔI TRẢ VÀ HOÀN TIỀN </p>
        <div>
            <ol type="1">
                <p>
                    <li class="text-accent fw-bold">
                        Những trường hợp được đổi hàng:

                        <ul class="fw-normal text-primary" type="disc">
                            <li>Hàng bị lỗi do nhà sản xuất, không sử dụng được.</li>
                            <li>Hàng bị hư hỏng do quá trình vận chuyển hàng cho khách của DumBum.</li>
                            <li>Hàng giao không đúng mẫu mã, loại mà khách đã đặt.</li>
                            <li>Sản phẩm hết hạn sử dụng.</li>
                        </ul>
                    </li>
                </p>
                <p>
                    <li class="text-accent fw-bold">
                        Điều kiện và quy định đổi chung:

                        <ul class="fw-normal text-primary" type="disc">
                            <div style="text-align:justify">
                                <li>Sản phẩm được 1 đổi 1 trong vòng 07 ngày thuộc trường hợp được đổi hàng tính từ
                                    ngày mua hàng tại cửa hàng hoặc nhận hàng từ nhân viên giao hàng.</li>
                            </div>

                            <div style="text-align:justify">
                                <li>Sản phẩm gửi trả còn đầy đủ tem mác, hóa đơn, còn nguyên vẹn, chưa có dấu hiệu sử dụng, hoàn trả cả phụ kiện và quà tặng (nếu có).</li>
                            </div>

                            <div style="text-align:justify">
                                <li>Có đầy đủ các chứng từ kèm theo như biên nhận, hóa đơn, phiếu giao hàng, phiếu bảo hành, catalogue (nếu có).</li>
                            </div>

                            <div style="text-align:justify">
                                <li>Trường hợp sản phẩm cần đổi đã hết hàng, Khách hàng được đổi sang sản phẩm khác có giá trị tương đương hoặc cao hơn so với sản phẩm đổi hàng (khách hàng trả thêm phí đối với phần chênh lệch của sản phẩm có giá trị cao hơn).</li>
                            </div>
                            <div style="text-align:justify">
                                <li>Không áp dụng đổi hàng với các sản phẩm được áp dụng chương trình khuyến mãi.</li>
                            </div>

                        </ul>
                    </li>
                </p>
                <p>
                    <li class="text-accent fw-bold">
                        Hình thức đổi hàng:
                        <ul class="fw-normal text-primary" type="disc">
                            <div style="text-align:justify">
                                <li>Mua hàng trực tiếp tại cửa hàng: Khách hàng vui lòng đem trực tiếp sản phẩm cần đổi trả và hóa đơn kèm theo tới cửa hàng, nhân viên chúng tôi sẽ kiểm tra điều kiện sản phẩm và hỗ trợ đổi hàng.</li>
                            </div>

                            <li><span>Mua hàng online: Nếu gửi qua đường bưu điện/chuyển phát nhanh, khách hàng cần xác nhận với bên chuyển phát tình trạng của hàng hóa cần đổi. Nhân viên chúng tôi sẽ kiểm tra điều kiện sản phẩm và hỗ trợ đổi hàng.</span></li>
                            <li><span>Hỗ trợ đổi hàng do lỗi chủ quan từ người mua. (với điều kiện sản phẩm chưa sử dụng, bao bì tem nhãn còn nguyên vẹn trong vòng 72 giờ từ lúc mua)</span></li>
                            <li><span>Sản phẩm bị lỗi do nhà sản xuất. (trong vòng 2 tuần)</span></li>
                            <li><span>Sản phẩm bị vỡ hỏng do vận chuyển.</span></li>
                            <li><span>Sản phẩm sai mẫu mã so với đơn đặt hàng.</span></li>
                            <li><span>Sản phẩm đã hết hạn sử dụng.</span></li>
                        </ul>
                    </li>
                </p>
                <p>
                    <li class="text-accent fw-bold">
                        Điều kiện sản phẩm khi đổi trả hàng:
                        <ul class="fw-normal text-primary" type="disc">
                            <li><span>Sản phẩm đổi trả phải đúng với sản phẩm bạn đã mua tại cửa hàng. (xác định qua hóa
                                    đơn hoặc số điện thoại mua hàng).</span></li>
                            <li><span>Sản phẩm chưa sử dụng, bao bì tem nhãn còn nguyên vẹn. (Với lỗi chủ quan từ người
                                    mua).</span></li>
                            <li><span>Sản phẩm được thông báo đổi trả trong thời gian 24 giờ tính từ lúc mua hàng tại
                                    shop hoặc đối với các đơn ship là từ khi nhận được hàng. </span></li>
                        </ul>
                    </li>
                </p>
                <p>
                    <li class="text-accent fw-bold">
                        Thông tin liên hệ và Trung tâm dịch vụ khách hàng:
                        <ul class="fw-normal text-primary" type="disc">
                            <li><span>Mọi thắc mắc và ý kiến đóng góp vui lòng liên hệ:</span></li>
                            <li><span>Hotline: 086. 8918629 </span></li>
                            <li><span>Email: dumbum123@gmail.com</span></li>
                        </ul>
                    </li>
                </p>
            </ol>
        </div>
    </div>
    <div id="rectangle">
        <app-navigation-list [menu]="menuchinhsach"></app-navigation-list>
    </div>
</div>
