<nav>
  <div class="d-flex flex-column" style="height: 130px;">
    <div class="bg-white d-flex flex-grow-1">
      <div class="container d-flex align-self-center">
        <img src="../../assets/logo.png" alt="Logo DumBum" id="logo">
        <div class="d-flex justify-content-between align-items-center align-self-center mx-5 w-50 px-0">
          <a class="main-pages-item" *ngFor="let item of mainPages.items">{{item.value}}</a>
        </div>
        <div class="d-flex justify-content-between align-items-center align-self-center fs-3 ms-auto"
          style="width: 200px;">
          <i class="bi bi-cart2" matBadge="2"></i>
          <hr class="vr m-0">
          <a class="main-pages-item">Đăng nhập</a>
        </div>
      </div>
    </div>
    <div class="bg-accent d-flex py-2">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="text-strong" *ngFor="let item of categories.items">{{item.value}}</a>
        <div class="input-group w-25 d-flex flex-row">
          <div class="form-floating small flex-grow-1">
            <input type="search" class="form-control rounded-0 rounded-start pb-0 pt-3" name="search" id="search"
              style="font-size: 0.8rem; max-height: 40px;" placeholder=" ">
            <label class="pt-2" for="search">Bạn muốn tìm gì?</label>
          </div>
          <span class="rounded-top" style="width: 40px">
            <button class="btn btn-primary rounded-0 rounded-end h-100 w-100" type="button">
              <i class="bi bi-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
