<div class="content">
    <div class="left">
        <div class="size">THÔNG TIN KHÁCH HÀNG</div>
        <input class="form__input" type="text" placeholder="Họ và tên">
        <input class="form__input" type="text" placeholder="Số điện thoại">
        <input class="form__input" type="text" placeholder="Địa chỉ nhận hàng">
        <input class="form__input" type="text" placeholder="Thành phố">
        <input class="form__input" type="text" placeholder="Quận huyện">
        <div style="margin: 50px 25px" class="size">HÌNH THỨC THANH TOÁN</div>
        <div>
            <input type="radio">
            <input class="input" type="text" placeholder="Thanh toán khi nhận hàng">
        </div>
    </div>
    <div class="right">
        <div class="size box">SẢN PHẨM ĐÃ MUA</div>
        <div class="box1">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/comchay.jpg" class="img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Cơm Cháy</p>
                            <div class="flex">
                                <div>
                                    <input class="form__button" type="button" value="-">
                                    <input class="number" type="number" value="2">
                                    <input class="form__button" type="button" value="+">
                                </div>
                                <p class="price">40.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/rongbien.jpg" class="img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Rong biển</p>
                            <div class="flex">
                                <div>
                                    <input class="form__button" type="button" value="-">
                                    <input class="number" type="number" value="1">
                                    <input class="form__button" type="button" value="+">
                                </div>
                                <p class="price">65.000 VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="button" type="button" value="Mã khuyến mãi ->">
            <hr>
            <div class="wrap">
                <label style="margin-left: 50px;">Tổng tiền</label>
                <p class="cal">105.000 VNĐ</p>
            </div>
            <div class="wrap">
                <label style="margin-left: 50px;">Phí ship</label>
                <p class="cal">35.000 VNĐ</p>
            </div>
            <hr style="margin-top: 50px">
            <div class="sum">
                <label style="margin-left: 50px;">Tổng cộng</label>
                <p class="cal">140.000 VNĐ</p>
            </div>
            <input class="pay" type="button" value="Thanh toán">
        </div>
        <div>
            <input type="radio">
            <input style="margin-top: 143px" class="input" type="text" placeholder="Thanh toán bằng E-banking">
        </div>
    </div>
</div>
