<div class="d-flex py-5 justify-content-between">
    <div style="padding-right: 40px; flex-basis: 100%;">
        <p class="fw-bold text-accent fs-3">GIỚI THIỆU DUMBUM</p>
        <div style="padding-top: 1%;">
            <p class="text-accent fw-bold" style="font-size: 15px;">DUMBUM TẠI VIỆT NAM
            </p>
            <p style="text-align: justify;">Mỗi ngày, Dumbum toàn cầu phục vụ không chỉ đảm bảo mang đến cho
                khách hàng những bữa ăn ngon, an toàn vệ sinh, mà còn làm họ hài lòng với dịch vụ của Dumbum.
            </p>
            <p style=" text-align: justify;">
                Nắm bắt nhu cầu của người tiêu dùng Việt Nam hiện nay, chúng tôi mong muốn phục vụ những bữa ăn
                nhanh nhưng hợp vệ sinh, đầy đủ dưỡng chất cùng với cung cách phục vụ chuyên nghiệp, Dumbum cam
                kết sẽ làm bạn hài lòng với dòng sản phẩm nổi tiếng khắp thế giới của chúng tôi. Không chỉ nổi
                tiếng về thức ăn ngon, Dumbum còn nổi tiếng về chuỗi tiêu chuẩn chất lượng, dịch vụ, vệ sinh và
                giá trị.
            </p>
        </div>
        <div>
            <img style="float: left; width: 50%; margin-right: 40px;" src="../../assets/BANNER 2.jpg"
                alt="Không tải được hình ảnh">
            <p class="text-accent fw-bold">TẦM NHÌN VÀ SỨ MỆNH</p>
            <p style=" text-align: justify;">
                Hoài bão của chúng tôi là phục vụ thức ăn ngon cùng đội ngũ nhân viên chuyên nghiệp, thân thiện
                và là một thành viên tốt của cộng đồng:
            </p>
            <p style=" text-align: justify;">
                <i class="fw-bold">Thức ăn ngon:</i> Chúng tôi phục vụ thức ăn ngon từ nguồn nguyên vật
                liệu chất lượng nhất và được chế biến theo từng yêu cầu của khách hàng.
            </p>
            <p style=" text-align: justify;">
                <i class="fw-bold">Nhân viên chuyên nghiệp, thân thiện:</i> chúng tôi luôn tạo cơ hội để
                nhân viên phát triển sự nghiệp cùng công ty. Từ đó, chúng tôi cùng nhau phục vụ khách hàng một
                cách tốt nhất.
            </p>
        </div>
        <div>
            <p class="text-accent fw-bold">SỨ MẠNG CỦA THƯƠNG HIỆU</p>
            <p style=" text-align: justify;">
                Là điểm đến ẩm thực được các khách hàng yêu thích nhất! Chúng tôi cam kết không ngừng nâng cao
                chất lượng dịch vụ và mang đến những trải nghiệm thú vị cho khách hàng qua những sản phẩm luôn
                được yêu thích như món khoai tây chiên lừng danh thế giới.
            </p>
            <p style=" text-align: justify;">
                Dumbum cam kết áp dụng tiêu chuẩn của Dumbum toàn cầu, đó là: Quality - Chất lượng, Service -
                Dịch vụ, Cleanliness - Vệ sinh & Values - Giá trị.
            </p>
            <ul>
                <li>High quality food: Thực phẩm chất lượng</li>
                <li>Superior service: Phục vụ chuyên nghiệp</li>
                <li>Clean and welcoming environment: môi trường sạch sẽ và thân thiện</li>
                <li>Great value for money: Giá cả hợp lý</li>
            </ul>
        </div>
    </div>
    <div>
        <app-navigation-list [menu]="menuIntro"></app-navigation-list>
    </div>
</div>
