<div class="d-flex py-5 justify-content-between">
  <div class="flex-grow-1" style="padding-right: 40px;">
    <p class="text-accent fw-bold fs-3">GIAO HÀNG</p>
    <p class="text-accent fw-bold">Chi tiết giao hàng</p>
    <p style="text-align: justify;">Dumbum miễn phí vận chuyển tại nội thành Thành phố Hồ Chí Minh và Thủ đô Hà Nội cho
      các đơn hàng từ 90.000đ trở lên. Các đơn hàng dưới 90.000đ Quý khách chỉ mất 10.000đ phí vận chuyển.

    <p style="text-align: justify;">Đối với những khách hàng thuộc khu vực khác miễn phí vận chuyển đối với đơn hàng từ
      249.000đ trở lên. Cước phí vận chuyển 25.000đ đơn hàng dưới 249.000đ.</p>

    <p style="text-align: justify;">Đối với một số khu vực thuộc Tỉnh Bình Dương, Tỉnh Đồng Nai và nội ngoại thành HCM/Hà
      Nội nhưng cách quá xa trung tâm, shipper nội bộ Dumbum chưa phân tuyến, phí vận chuyển được áp dụng theo phí khu
      vực khác. </p>
    <p>Hotline: 0916 113 115 ( làm việc trong giờ hành chính)</p>
    <p>Email: dumbum123@gmail.com</p>
  </div>
  <div id="rectangle">
    <app-navigation-list [menu]="menuDelivery"></app-navigation-list>
  </div>
</div>
