<div class="box py-3">
  <ol class="breadcrumb">
    <li *ngFor="let item of path.items" class="breadcrumb-item">
      <a [href]="item.href">{{item.value}}</a>
    </li>
  </ol>
  <div class="box-product">
    <div class="d-flex" style="flex-basis: 49%;">
      <div>
        <img class="img-large" [src]="currentImageURL"
          alt="Không thể tải được hình ảnh">
        <div class="d-flex">
          <div *ngFor="let item of product.productDetails[0].imageURL">
            <img class="img-small" style="cursor: pointer;" [src]="item" (click)="onImageChange(item)">
          </div>

        </div>

      </div>
    </div>
    <div style="flex-basis: 49%;">
      <p class="text-strong text-accent fs-3">
        {{product.name}} {{product.productDetails[0].weight.value}}{{product.productDetails[0].weight.unit}}</p>
      <div class="unit-price-box">
        <p style="font-weight: bold; color: var(--primary);" class="fs-3">{{product.productDetails[0].unitPrice |
          currency}}</p>
      </div>
      <div class="text" style="margin: 20px 0px; color: var(--accent); font-weight: bold; display: flex; ">
        <label for="quality" style="font-size: 1.5rem!important">Số lượng:</label>
        <app-quantity-input #quantityInput style="font-size: 1.2rem!important"></app-quantity-input>


      </div>
      <div class="form-button">
        <input class="btn btn-accent" type="button" value="THÊM VÀO GIỎ HÀNG" (click)="addToCart()">
        <a href="checkout"><input class="btn btn-accent" type="button" value="MUA NGAY"></a>
      </div>
      <div class="text">
        <i class="bi bi-truck"></i><span style="font-weight: bold;"> Miễn phí vận chuyển</span>
        <ul>
          <li>Giao hàng miễn phí với mức giá cố định từ 300K trở lên</li>
        </ul>
        <i class="bi bi-cash-coin"></i> <span style="font-weight: bold;"> Chính sách đổi trả</span>
        <ul>
          <li>Chỉ chấp nhận đổi trả do sai sót bên Dumbum hay bên nhà vận chuyển</li>
          <li>Các sản phẩm được đổi trả trong vòng 7 ngày kể từ ngày nhận hàng</li>
          <li>Các sản phẩm đổi trả còn đầy đủ tem mác, còn nguyên vẹn và chưa có dấu hiệu sử dụng</li>
          <li>Phí vận chuyển trở lại được thanh toán bởi người mua</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box-detail box-detail--1 ">
    <div style="padding: 20px;">
      <p class="text-heading fs-3">MÔ TẢ CHI TIẾT SẢN PHẨM</p>
      <div class="text">
        <ul>
          <li>Thành phần: {{product.materials.join(', ')}}</li>
          <li>Hướng dẫn sử dụng: {{product.howToUse}}</li>
          <li>Hướng dẫn bảo quản: {{product.storageCondition}}</li>
          <li>Trọng lượng tịnh: {{product.productDetails[0].weight.value}}{{product.productDetails[0].weight.unit}}
            (tính cả bao bì)</li>
          <li>Hạn sử dụng: {{product.lifeTimeByMonth}} tháng kể từ ngày sản xuất</li>
          <li>Xuất xứ: {{product.madeBy}}</li>
        </ul>
      </div>
      <div style="text-align: center;" *ngFor="let item of product.illustratedImageURL">
        <img class="img-detail" [src]="item">
      </div>
      <p class="text">Cảm ơn các bạn, chúc các bạn ngon miệng với Khô gà lá chanh DumBum <br>À đừng quên là chúng mình
        còn có các sản phẩm khác nhé </p>
    </div>
  </div>
  <div class="box-detail" style="margin-bottom: 50px">
    <div style="padding: 20px;">
      <p class="text-heading fs-3">ĐÁNH GIÁ VÀ NHẬN XÉT SẢN PHẨM</p>
      <div class="box-review">
        <div class="d-flex" style="justify-content: space-between; flex-basis: 60%;">
          <div class="review">
            <p class="text">Đánh giá trung bình</p>
            <p style="font-weight: bold; font-size: 4rem!important; color: var(--third); line-height: 1;">5/5</p>
            <div>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <p class="text">1 đánh giá & 0 nhận xét</p>
          </div>
          <div class="feedback" style="display: flex; flex-direction: column;">
            <div>
              <p>5</p><i class="bi bi-star-fill"></i><progress max="100" value="100"></progress>
              <p>1</p>
            </div>
            <div>
              <p>4</p><i class="bi bi-star-fill"></i><progress max="100" value="0"></progress>
              <p>0</p>
            </div>
            <div>
              <p>3</p><i class="bi bi-star-fill"></i><progress max="100" value="0"></progress>
              <p>0</p>
            </div>
            <div>
              <p>2</p><i class="bi bi-star-fill"></i><progress max="100" value="0"></progress>
              <p>0</p>
            </div>
            <div>
              <p>1</p><i class="bi bi-star-fill"></i><progress max="100" value="0"></progress>
              <p>0</p>
            </div>
          </div>
        </div>

        <div class="form-button" style="display: flex; flex-direction: column; flex-basis: 30%; ">
          <p style="width:100%; text-align: center;" class="text" for="">Bạn đã từng dùng sản phẩm này?</p>
          <input class="btn btn-accent" type="button" value="Gửi đánh giá của bạn">
        </div>
      </div>
    </div>
  </div>
</div>
