<form class="needs-validation" #adminForm="ngForm">
  <div class="container">
    <div class="text-center pt-4 mb-4">
      <a href="">
          <img style="width: 90px; height: 90px;" id="logo" src="../../assets/logo.png" alt="Logo DumBum">
        </a>
  </div>
    <div class="text-accent fw-bold text-center display-6 pt-4">ĐĂNG NHẬP</div>
    <p class="text-primary text-center fw-bold display-6 mb-5">Trang quản trị</p>
    <div class="d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-xl-5">
          <input type="text" class="form-control" required placeholder="Tên đăng nhập" id="adminName" name="txtadminname"
            minlength="5" [(ngModel)]="loginInfo.id" #inputAdminName="ngModel">
          <label for="floatingName">Tên đăng nhập</label>
          <div class="alert-danger mt-3" *ngIf="!inputAdminName.valid && (!inputAdminName.pristine || adminForm.submitted)">
            <small>Bạn cần nhập tên đăng nhập và tên đăng nhập phải dài hơn 5 ký tự</small>
          </div>
        </div>
        <div class="form-floating mb-5">
          <input type="password" class="form-control" name="txtpassword" id="password" required placeholder="Mật khẩu" [(ngModel)]="loginInfo.password" #inputAdminPassword="ngModel">
          <label for="floatingInput">Mật khẩu</label>
          <div class="alert-danger mt-3" *ngIf="!inputAdminPassword.valid && (!inputAdminPassword.pristine || adminForm.submitted)">
            <small>Bạn cần nhập mật khẩu</small>
          </div>
        </div>
        <div class="form-floating mb-5 text-center">
          <button [disabled]="adminForm.invalid" class="btn btn-accent" type="submit" (click)="onLogin()">Đăng nhập</button>
        </div>
      </div>
    </div>
  </div>
</form>
