<div class="d-flex py-5 justify-content-between text-primary">
    <div class="flex-grow-1" style="padding-right: 40px">
       <p class="title fs-3 text-accent fw-bold">LỊCH SỬ HÌNH THÀNH</p>
       <p class="text" style="text-align: justify;">
        Với mong muốn đưa Ẩm thực Việt Nam đến với mọi người, đa dạng với các loại đồ ăn vặt thơm ngon mà chất lượng. Dumbum với tiêu chí an toàn thực phẩm cùng đặt chất lượng sản phẩm lên hàng đầu.<br>
        Tiền thân của DUMBUM là Insta-Burger King, thành lập tại Hà Nội vào năm 1953.
       </p>
       <p style="text-align: justify;">
        Năm 1954, David Edgerton và James McLamore mua lại chuỗi cửa hàng Insta- Burger King, đổi tên thành DUMBUM và sau đó là Tập đoàn Burger King. Họ vẫn dùng cách nướng lửa, nhưng thay chiếc vỉ Insta-Broiler bằng vỉ nướng lửa Flame-Broiler – tức là chiếc vỉ nướng ga được cơ giới hóa.
       </p>
       <p style="text-align: justify;">
        Dumbum hiện là chuỗi nhà hàng thức ăn nhanh lớn nhất Việt Nam. Mỗi ngày, có hơn hàng trăm thực khách đến với các DUMBUM trên khắp thế giới để thưởng thức các món ăn chất lượng cao, hương vị tuyệt hảo và giá cả phải chăng.
        Hiện Dumbum có 15 chi nhánh trải dài hết khắp các nước Việt Nam, đưa thực phẩm sạch đến tay các bạn trẻ.
       </p>
    </div>
    <div class="text-primary-center" id="rectangle">
        <app-navigation-list [menu]="menuHistory"></app-navigation-list>
    </div>
</div>
