<img src="../../assets/BANNER CHÍNH.svg" class="full-width m-0">
<div class="d-flex rounded-hard-children" style="margin: 2em 0;">
  <div id="imgMain" style="flex-basis: 70%;">
    <img  src="../../assets/BANNER 5 (1).svg" alt="Không thể tải được hình ảnh" title="Ảnh 1" style="margin-right: 1em; width: 100%;">
  </div>
  <div id="sub-banner" class="d-flex flex-column rounded-hard-children" style="margin-left: 1em; flex-basis: 30%;">
    <img src="../../assets/BANNER 2.jpg" alt="BANNER 2" title="BANNER 2" loading="lazy" style="margin-bottom: 1em; width: 100%;">
    <img src="../../assets/BANNER 3.jpg" alt="BANNER 3" title="BANNER 3" loading="lazy" style="margin-top: 1em; width: 100%;">
  </div>
</div>
