.card {
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px whitesmoke;
}
.flex {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}
.img {
  width: 100px;
  border-radius: 5px;
}
