<div class="d-flex justify-content-between py-5">
    <div style="padding-right: 40px; flex-basis: 100%">
        <p class="title text-accent fw-bold fs-3">HÌNH THỨC THANH TOÁN</p>
        <p>
            Hiện nay Shopee Việt Nam đang hỗ trợ 2 hình thức thanh toán, bao gồm:
        </p>
        <ul>
            <li>Chuyển khoản ngân hàng</li>
            <li>Thanh toán khi nhận hàng (COD)</li>

        </ul>
        <p class="title fw-bold text-accent">CHI TIẾT</p>
        <ol type="1">
            <li class="text-accent fw-bold">
                Chuyển khoản ngân hàng
            </li>
            <p style="text-align: justify;">
                Hiện nay, Dumbum cũng đang hỗ trợ thanh toán cho những đơn hàng giá trị lớn trên 2 triệu VNĐ và thuộc
                một số ngành hàng nhất định thông qua chuyển khoản ngân hàng
            </p>
            <p style="text-align: justify;">Bạn có thể đăng ký thanh toán đơn hàng bằng hình thức chuyển khoản ngân hàng, sau đó tiến hành giao dịch và xác nhận thông qua dịch vụ Internet Banking, hoặc thông qua chuyển tiền trực tiếp tại chi nhánh ngân hàng.
            </p>
            <li class="text-accent fw-bold">
                Thanh toán khi nhận hàng (COD)
            </li>
            <p class="text" style="text-align: justify;">
                Bên cạnh những hình thức thanh toán trên, bạn cũng có thể lựa chọn hình thức thanh toán khi nhận hàng.
                Tuy nhiên, cần chú ý rằng không phải tất cả các Shop trên Shopee đều cho phép sử dụng hình thức thanh
                toán trên
            </p>


        </ol>

    </div>
    <div id="rectangle">
        <app-navigation-list [menu]="menuPayment"></app-navigation-list>
    </div>
</div>
