<p class="text-strong text-primary fs-3 mt-3">DANH SÁCH TẤT CẢ ĐƠN HÀNG</p>
<div class="d-flex justify-content-between">
    <div class="mb-3 d-flex gap-1">
        <label for="disabledSelect" class="form-label">Hiện</label>
        <select id="disabledSelect" class="form-select">
          <option>10</option>
          <option>20</option>
        </select>
        <span>sản phẩm</span>
    </div>
    <div id="search" class="input-group w-25 d-flex" style="min-width: max-content;">
      <div class="form-floating small flex-grow-1">
        <input type="search" class="form-control rounded-0 rounded-start pb-0 pt-3" name="search" id="search"
          style="font-size: 0.8rem; max-height: 40px;" placeholder=" ">
        <label class="pt-2" for="search">Bạn muốn tìm gì?</label>
      </div>
      <span class="rounded-top" style="width: 40px">
        <button class="btn btn-primary rounded-0 rounded-end h-100 w-100" type="button">
          <i class="bi bi-search"></i>
        </button>
      </span>
    </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Mã đơn hàng </th>
        <th>Tên khách hàng</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
        <th>Tình trạng</th>
        <th>Ngày đặt đơn</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
