<div class="d-flex justify-content-between py-5">
       <div style="padding-right: 40px; flex-basis: 100%">
              <p class="title fs-3 fw-bold text-accent">CÁCH THỨC MUA HÀNG</p>
              <p class="text">
                     Bạn đang có nhu cầu mua các loại đồ ăn vặt hot nhất hiện nay. Bạn cũng đang cần những chỗ bán hàng
                     uy tín vừa đảm bảo chất lượng thực phẩm và giá cả phải chăng thì Dumbum chắc chắn là sự lựa chọn
                     tốt nhất cho bạn. Bài viết dưới đây sẽ hướng dẫn bạn cách mua hàng online trên website Đồ ăn vặt
                     Dumbum. Cùng theo dõi nhé!
              </p>
              <p class="fw-bold text-primary">Bước 1: Tìm sản phẩm cần mua</p>
              <p class="text">Truy cập vào website doanvatdumbum.web.app, vào ô tìm kiếm nhập tên sản phẩm bạn cần mua.</p>
              <div class="mb-5">
                     <img src="../../assets/huongdan-0.svg" alt="Bước 1" style="width: 100%;">
              </div>
              <p class="fw-bold text-primary">Bước 2: Chọn sản phẩm mình cần mua</p>
              <div class="mb-5">
                     <img src="../../assets/huongdan-1.svg" alt="Bước 2" style="width:100%">
              </div>
              <p class="fw-bold text-primary">Bước 3: Đặt mua sản phẩm</p>
              <p class="text">Nhấn vào nút giỏ hàng, điền thông tin và số lượng sản phẩm cần mua. Tùy vào điều kiện tài
                     chính mà bạn có thể chọn hình thức thanh toán phù hợp.</p>
              <div>
                     <img src="../../assets/huongdan-2.svg" alt="Bước 3" style="width:100%;">
              </div>

       </div>
       <div id="rectangle">
              <app-navigation-list [menu]="menuBuying"></app-navigation-list>
       </div>

</div>
