<div class="row mt-5">
  <div class="product-group">
    <div class="row text-center row-margin row-color">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="card shadow card-product">
          <img [src]="'../../assets/' + product.imageURL" class="card-img-top img-size">
          <div class="card-body  card-body__size">
            <p class="card-title">{{product.name}}</p>
            <p class="card-text fw-bold">{{product.unitPrice}}</p>
            <a href="#" class="btn btn-primary btn-size">THÊM VÀO GIỎ HÀNG</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
