.card-product {
  width: 260px;
  height: 340px;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.5s;
}
.card-product:hover {
  transform: scale(1.1);
  box-shadow: none !important;
  transition: all 0.5s;
}
button {
  width: 90%;
  margin: auto;
}
