<div class="row my-3">
  <div class="row text-center w-100">
    <div class="card card-body card-product shadow rounded-hard">
      <img [src]="'../../assets/' + product.productDetails[0].imageURL[0]" class="rounded-top rounded-hard"
        loading="lazy" (click)="seeMore()">
      <div class="fs-5 text-uppercase lh-sm d-grid mt-1">
        <span (click)="seeMore()">{{product.name}}</span>
        <span class="fw-bold" (click)="seeMore()">{{product.productDetails[0].unitPrice | currency}}</span>
        <button class="btn btn-accent mt-1" (click)="addToCart()">THÊM VÀO GIỎ</button>
      </div>
    </div>
  </div>
</div>
